
.img-fluid{
    height: auto!important;
    width: 540px!important;
}

.row{
    margin-top: 50px!important;
}

.error-message.viewProduct{
    border: 0px;
    margin-top: 0px;
}

.col-lg-6{
    align-self: center!important;
}

.rounded.viewProduct{
    border-radius: 2.25rem!important;
}