<!DOCTYPE html>
<!--Thymeleaf activated-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add Product Page</title>
    <link rel="stylesheet" href="/aroma-template/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/aroma-template/vendors/linericon/style.css">
    <link rel="stylesheet" href="/aroma-template/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/aroma-template/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/aroma-template/css/style.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/addProduct.css">
    <link href="/colorlib-addProduct/css/main.css" rel="stylesheet" media="all">
</head>
<body>

<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand " th:href="@{/home}"><img th:src="@{images/logo_simple.png}" alt="User Icon" class="logo"></a>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto menu">
                    <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item" sec:authorize="hasRole('PARTICIPANT')">
                        <a href="/myBids" class="nav-link">My Bids</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a href="/addProduct" class="nav-link">Add Product</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a href="/register" class="nav-link">Register</a>
                    </li>
                </ul>
                <div class="container">
                    <ul class="nav-shop" sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <form  th:action="@{/search}" method="get">
                                <div class="bg-light rounded rounded-pill shadow-sm mb-4 bar addProduct-bar">
                                    <div class="input-group addProduct-input">
                                        <input type="search" placeholder="Search..." id="search" name="keyword" autocomplete="off" ria-describedby="button-addon1" class="form-control border-0 bg-light">
                                        <div class="input-group-append">
                                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li>
                            <p>Hello, <span th:text="${userHeaderDto.getFirstName}"></span></p>
                        </li>
                        <li class="nav-item"><a class="button button-header" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

</header>
<!--================ End Header Menu Area =================-->
<div class="page-wrapper p-b-50 p-t-45 addProduct-page">
    <div class="wrapper wrapper--w790 addProduct">
        <div class="card-heading addProduct-heading">
            <h2 class="title">Product Registration Form</h2>
        </div>
        <div class="mainContainer">
            <form th:action="@{/addProduct}" method="post" th:object="${productDto}" enctype="multipart/form-data">
                <!-- Name -->
                <div class="form-outline mb-4">
                    <div class="form-outline">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" id="name" class="form-control" th:field="*{name}" th:errorclass="form-field-error"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('name')}"
                       th:text="${error}"></p>
                    </div>
                </div>
                <!-- Category -->
                <div class="form-outline mb-4">
                    <option value="">Please choose...</option>
                    <select id="category" class="form-control" th:field="*{category}">
                        <option th:each="category : ${T(com.sda.model.ProductCategory).values()}"
                                th:value="${category}"
                                th:text="${#strings.toLowerCase(category)}">
                        </option>
                    </select>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('category')}"
                       th:text="${error}"></p>
                </div>
                <!-- Description -->
                <div class="form-outline mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="description">Description</label>
                        <textarea type="text" id="description" class="form-control" th:field="*{description}"
                                  th:errorclass="form-field-error"></textarea>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('description')}"
                           th:text="${error}"></p>
                    </div>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="startingPrice">Starting Bid</label>
                    <input type="number" id="startingPrice" class="form-control" th:field="*{startingPrice}"
                           th:errorclass="form-field-error"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('startingPrice')}"
                       th:text="${error}"></p>
                </div>
                <!-- Minimum Bid Step input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="minimumBidStep">Minimum Bid Step</label>
                    <input type="number" id="minimumBidStep" class="form-control" th:field="*{minimumBidStep}"
                           th:errorclass="form-field-error"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('minimumBidStep')}"
                       th:text="${error}"></p>
                </div>
                <!-- Start Bidding Time input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="startBiddingTime">Start Bidding Time</label>
                    <input type="datetime-local" id="startBiddingTime" class="form-control" th:field="*{startBiddingTime}"
                           th:errorclass="form-field-error"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('startBiddingTime')}"
                       th:text="${error}"></p>
                </div>
                <!-- End Bidding Time input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="endBiddingTime">End Bidding Time</label>
                    <input type="datetime-local" id="endBiddingTime" class="form-control" th:field="*{endBiddingTime}"
                           th:errorclass="form-field-error"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('endBiddingTime')}"
                       th:text="${error}"></p>
                </div>
                <!-- Image input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="image">Image</label>
                    <input type="file" id="image" name="image" class="form-control"/>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Add Product</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>